body,
html {
    margin: 0;
    padding: 0;
}

.background {
    background-color: rgba(0, 0, 0);
    background-image: url(./assets/mount-athos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;


    /* Center contents */
    display: flex;
    flex-direction: column;
    /* keeps header on top if you have one */
    align-items: center;
    justify-content: center;

}

.background::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* black with 50% opacity */
    z-index: 1;
}

/* Keep your content above the overlay */
.background>* {
    position: relative;
    z-index: 2;
}

.header-title {
    color: #fdfdfd;
    text-align: center;
    font-family: sans-serif;
}

h2 {
    color: #fdfdfd;
    text-align: center;
    font-family: sans-serif;
}

label {
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}

input {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 8px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;

}



.flashcard {
    width: 250px;
    height: 150px;
    perspective: 1000px;
    cursor: pointer;
    padding-bottom: 20px;
    padding-left: 20px;

}

.flashcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;

}

.flashcard.flipped .flashcard-inner {
    transform: rotateY(180deg);
}



.flashcard-front,
.flashcard-back {

    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px;
}

.flashcard-front {
    background: #fdfdfd;
    color: #333;
}

.flashcard-back {
    background: #ffcc80;
    color: #222;
    transform: rotateY(180deg);
}